<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="Integer" type="java.lang.Integer" />
        <typeAlias alias="String" type="java.lang.String" />
        <typeAlias alias="double" type="java.lang.Double" />
        <typeAlias alias="date" type="java.util.Date" />

        <typeAlias alias="User" type="com.wangz.springBoot.bean.User" />
        <typeAlias alias="BillType" type="com.wangz.springBoot.bean.BillType" />
        <typeAlias alias="Bill" type="com.wangz.springBoot.bean.Bill" />
        <typeAlias alias="OperateType" type="com.wangz.springBoot.bean.OperateType" />
        <typeAlias alias="WishList" type="com.wangz.springBoot.bean.WishList" />
        <typeAlias alias="Source" type="com.wangz.springBoot.bean.Source" />
    </typeAliases>
</configuration>