<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 账单分类SQL -->
<mapper namespace="com.wangz.springBoot.dao.BillTypeDao">

    <!-- BaseResultMap -->
    <resultMap id="BaseResultMap" type="BillType">
        <id column="id" property="id" jdbcType="VARCHAR" javaType="String" />
        <result column="name" property="name" jdbcType="VARCHAR" javaType="String" />
        <result column="parent_id" property="parentId" jdbcType="VARCHAR" javaType="String" />
    </resultMap>

    <!-- 插入信息 -->
    <insert id="insertBillType" parameterType="BillType">
        INSERT INTO BILL_TYPE (id, name, parent_id) VALUES (#{id}, #{name}, #{parentId})
    </insert>
</mapper>